<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Office Hours</h1>
   <p> <%=  @user.first_name  %> <%=  @user.last_name  %>, your seat is reserved. </p>
    <p>
    <p>This is a system generated email. If you have any questions, please email Sam Singer at 
    <a href="singess@auburn.edu">singess@auburn.edu</a>.
</p>
<p>If you want to change your exam day/time slot, <a href="http://desolate-sea-8698.herokuapp.com/login">go to app and login</a>.</p>
  </body>
</html>